<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form th:action="@{/addactorstomovie}">
    <select name="movies">

        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="opel">Opel</option>
        <option value="audi">Audi</option>
    </select>

    <select name="actors" multiple>
        <option th:each="anActor:${actorlist}" th:value="${anActor.id}" th:text="${anActor.name}"></option>
    </select>

    <input type="submit" value="Add actors!">
</form>


</body>
</html>